*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html{
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.container{
  display: flex;
  min-height: 100vh;
}
.data-container{
  background-color: #333;
  color: white;
  padding: 2rem;
}
h1, h2{
  margin-bottom: 1.5rem;
}
img{
  height: 100%;
}
form{
 display: flex;
 flex-direction: column;
 padding: 2rem;
}
label{
  padding-top: 1rem;
  font-size: 1.5rem;
}
input{
  display: block;
  padding: 0.5rem 0.75rem;
  margin: 0.5rem 0;
  margin-bottom: 0;
  border: transparent;
  border-bottom: 2px solid red;
  color: white;
  background: transparent;
  width: 80%;
  outline: none;
}
input::placeholder{
  color: white;
}
p{
  text-align: right;
  padding-right: 7.8rem;
  padding-top: 1rem;
  text-decoration: underline;
}
button{
  margin: 1.5rem 0;
  padding: 0.5rem 0;
  border: 2px solid red;
  border-radius: 10px;
  cursor: pointer;
  color: red;
  font-weight: bold;
  font-size: 1.1rem;
}
hr{
  color: red;
  background-color: red;
  background: red;
}

.mobile-img {
  display: none;
}

@media screen and (max-width: 768px) {
  .data-container{
    padding: 1rem;
  }
  .container{
    flex-direction: column;
  }
  h1, h2{
    padding-right: 1rem;
  }
  h1, h2, label {
    font-size: 1.25rem;

  }
  form{
    padding: 1rem;
  }
  button{
    font-size: 0.9rem;
    margin: 1.5rem auto;
    padding: 0.5rem 1rem;
  }

  .desktop-img {
    display: none;
  }
  .mobile-img{
    display: block;
    height: 250px;
    width: 100vw;
  }
  .mobile-img img{
    width: 100vw;
    object-fit: cover;
  }
}
